@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    user-select: none;
}
.container{
    width: 100%;
    height: 100%;
    margin: 72px auto 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_text{
    font-size: 46px;
    font-weight: 500;
}
.counts{
    margin-top: 10px;
    display: flex;
    gap: 20px;
    font-size: 14px;
    font-weight: 400;
}
.txt{
    /* margin-left: -10px; */
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    width: 640px;
    display: flex;
    gap: 80px;
    margin-top: 44px;
}
.block{
    width: 280px;
    display: flex;
    flex-direction: column;
}
.block label{
    width: 300px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    position: relative;
}
.block span{
    font-size: 11px;
    font-weight: 400;
}
input{
    width: 277px;
    height: 59px;
    border-radius: 4px;
    margin-top: 6px;
    border: 1px solid #949494;
    outline: none;
}
.m_bot{
    margin-top: 12.5px;
}
.btn_save_blue{
    width: 277px;
    height: 59px;
    margin-top: 27px;
    background: #4200FF;
    border: 2px solid #4200FF;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}
.btn_save_red{
    width: 277px;
    height: 59px;
    margin-top: 27px;
    background: #EE0004;
    border: 2px solid #4200FF;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}
.outline_blue{
    outline: 2px solid #4200FF;
    border: none;
}
.outline_red{
    outline: 2px solid #EE0004;
    border: none;
}
.pos_none{
    position: absolute;
    top: 44px;
    right: 0;
    display: none;
}
.pos_block{
    position: absolute;
    top: 44px;
    right: 0;
    display: block;
}

